body {
  font-family: "Karla", sans-serif;
  background-color: #252525;
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
  @media (max-width: 767px) {
    body {
      padding-top: 16px;
      padding-bottom: 16px; } }

.login-card {
  width: 371px;
  border: 0;
  background-color: transparent;
  text-align: center; }
  @media (max-width: 575px) {
    .login-card {
      width: auto; } }
  .login-card .card-body {
    padding: 0; }
  .login-card-title {
    font-size: 29px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    margin-bottom: 18px; }
  .login-card .form-group {
    margin-bottom: 18px; }
  .login-card .form-control {
    border: none;
    padding: 19px 26px 18px;
    border-radius: 27.5px;
    min-height: 55px;
    font-size: 14px;
    background-color: #f4f4f4;
    font-weight: normal; }
    .login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::placeholder {
      color: #919aa3; }
  .login-card-check-box {
    padding-left: 33px; }
    @media (max-width: 767px) {
      .login-card-check-box {
        margin-bottom: 10px; } }
    .login-card-check-box .custom-control-label {
      color: #919aa3; }
      .login-card-check-box .custom-control-label::before {
        width: 20px;
        height: 20px;
        border: solid 1px #d5dae2;
        left: -33px;
        top: 0px;
        background-color: transparent; }
      .login-card-check-box .custom-control-label::after {
        left: -33px;
        width: 20px;
        height: 20px;
        top: 0; }
  .login-card .login-btn {
    padding: 18px 40px 17px 41px;
    background-color: #f0004f;
    border-radius: 27.5px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 29px; }
    .login-card .login-btn:hover {
      border: 1px solid #f0004f;
      background-color: #fff;
      color: #f0004f; }
  .login-card-footer-text {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 0; }

.form-options-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
  font-size: 14px;
  font-weight: normal;
  color: #919aa3; }
  @media (max-width: 767px) {
    .form-options-wrapper {
      display: block; } }